body{
    width: auto;
    height: 1000px;
    padding-top: 6%;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 4%;
}
.contenedor-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}